// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  padding: 0;
  border: 0;
  background-color: transparent;
  outline: 0;
  cursor: pointer;
}
