.cnt {
  position: relative;
}

.grid {
  padding: 20px;
  display: grid;
  grid-template-rows: repeat(7, 12px);
  grid-template-columns: repeat(53, 12px);
  column-gap: 3px;
  row-gap: 3px;
  grid-auto-flow: column;
}

.selection {
  height: 0;
  width: 0;
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid skyblue;
  background-color: rgba(135, 206, 235, .3);
  z-index: 1;
  visibility: hidden;
  pointer-events: none;
}
