.cnt {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.col {
  width: 25%;
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

.col .row + .row {
  margin-top: 10px;
}

.row {
  font-size: 11px;
}
