.calendar {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.grid {
  display: grid;
  grid-template-rows: repeat(7, 12px);
  grid-template-columns: repeat(53, 12px);
  column-gap: 3px;
  row-gap: 3px;
  grid-auto-flow: column;
}
