.cnt {
  padding: 0 20px 0;  
  display: flex;
  justify-content: space-between;
}

.cnt .tools-left {
  font-size: 11px;
  display: flex;
  justify-content: flex-start;
}

.cnt .tools-right {
  font-size: 11px;
  display: flex;
  justify-content: flex-end;
}

.cnt .tools-right li + li {
  margin-left: 14px;
}
